<%- include('../parts-mhs/header', {page: "profile-mahasiswa"}) %>
    <div class="container">
        <%- include('../parts-mhs/sidebar') %>
        <div class="content">
            <div class="judul">
                <h1>Nilai</h1>
            </div>
            <div class="jadwal-kuliah">
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Pertemuan</p>
                    </div>
                    <div class="jadwal-col">
                        <p>Pertemuan - 1</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Nilai</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test"></div>
    
</body>
</html>