<div class="sidebar">
    <div class="status">
        <div class="status-img">
            <img src="/img/profile.png" alt="profile">
        </div>
        <div class="status-content">
            <p>Nama</p>
            <p>Role</p>
            <p>Status (Online)</p>
        </div>
    </div>
    <div class="dashboard">
        <a href="/dosen/dashboard-dosen">Dashboard</a>
    </div>
    <div class="materi" >
        <a href="#">Materi</a>
    </div>
    <div class="tugas">
        <a href="/dosen/jadwal-dosen">Jadwal Ngajar</a>
    </div>
    <div class="profile">
        <a href="/dosen/profile-dosen">Profile</a>
    </div>
</div>