<div class="sidebar">
    <div class="status">
        <div class="status-img">
            <img src="/img/profile.png" alt="profile">
        </div>
        <div class="status-content">
            <p>Nama</p>
            <p>Role</p>
            <p>Status (Online)</p>
        </div>
    </div>
    <div class="dashboard" >
        <a href="/mahasiswa/dashboard-mahasiswa">Dashboard</a>
    </div>
    <div class="materi" >
        <a href="#">Materi</a>
    </div>
    <div class="tugas">
        <a href="/mahasiswa/jadwal-mahasiswa">Jadwal Kuliah</a>
    </div>
    <div class="nilai">
        <a href="/mahasiswa/nilai-mahasiswa">Nilai</a>
    </div>
    <div class="profile">
        <a href="/mahasiswa/profile-mahasiswa">Profile</a>
    </div>
</div>