<%- include('../parts-dosen/header', {page: "dasboard-dosen"}) %>

    <div class="container">
        <%- include('../parts-dosen/sidebar') %>
        <div class="content">
            <div class="judul">
                <h1>Mata Kuliah yang di Ampu</h1>
            </div>
            <div class="container-matkul">
                <div class="col">
                    <div class="row">
                        <a href="/dosen/matkul-dosen">Matkul 1</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 2</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 3</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 4</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <a href="#">Matkul 5</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 6</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 7</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 8</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <a href="#">Matkul 9</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 10</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 11</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 12</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test"></div>
    
</body>
</html>